<h1 align="center">Cart</h1>
<div class="row">
    {{#each items}}
        <div class="col l6 offset-l3 ">
            <div class="card-panel grey lighten-5">
                <div class="section">Name: {{this.iname}}</div>
                <div class="section">Quantity Added: {{addedqty}}</div>
                <div class="section">Price Per Item: ₹ {{price}}</div>
                <div class="section">Shipping Cost: ₹ {{shipcost}}</div>
                <div class="section" style="font-weight:bold" id="{{itemid}}">Total For This Order:</div>
                <div class="section center">
                <a href="/cart/remove/{{itemid}}/{{cartid}}">Remove This Item</a>
                </div>
                </div>
        </div>
    {{/each}}
</div>
<div class="section" style="font-size:24px;font-weight:bold;" align="center" id="total"></div>
<div class="section" style="font-size:20px;font-weight:bold;color:rgb(6, 114, 6)" align="center" id="shipcost"></div>
<div class="section" style="font-size:24px;font-weight:bold;" align="center" id="freeship"></div>

<br>
<br>
<br>
<div class="row">
    <div class="input-field col s6 offset-l3">
        {{#if items}}
            <form action="/cart/order" method="post">
                <select name="modeofpay" id="mode" style="display:block;">
                    <option value="cod">Cash On Delivery</option>
                    <option value="debit">Debit Card</option>
                    <option value="netbanking">NetBanking</option>
                </select>
                <div class="row">
                    <div class="input-field col s12 center-align section">
                        <button class="btn-small">Place Order</button>
                    </div>
                </div>

            </form>
        {{else}}
            <h5 align="center">Cart Is Empty</h5>
        {{/if}}
    </div>
</div>
<script>
    var all = 0;
        {{#each items}}
        var total ={{price}}*
            {{addedqty}};
        all += total;
        $('div[id="{{this.itemid}}"]').text('Total for this item : ₹ ' + total);
        {{/each}}
        {{#if items}}
        //$('#total').text("total : " + all);
            if(all>5000)
            {
                $('#total').text("Total : ₹ " + all +'  (includes shipping cost if any)');
                $('#freeship').text("Your items will be shipped free of cost.");
            }
            else{
                var shipcost=0;
                {{#each items}}
                    shipcost+={{shipcost}}
                {{/each}}
                all+=shipcost;
                $('#total').text("total : " + all +'  (includes shipping cost if any)');
                $('#shipcost').text("Shipping Cost : ₹ " + shipcost);
            }
        {{/if}}
</script>