<h5>{{err}}</h5>
<h1 align="center">These are the list of items</h1>
<form action="/viewItems/" method="post" autocomplete="off">

    <div class="row">
        <div class="input-field col s6 offset-m3">
            <select id="categories" name="itemCategory" class="browser-default" required>
                <option disabled selected>Choose Category</option>
            </select>
        </div>

    </div>
    <div class="row">
        <div class="input-field col s12 center-align">
            <button type="submit" class="btn-large" id="submit">Submit</button>
        </div>
    </div>
</form>

{{!-- {{#if items}}
<h1>These are the list of items</h1>
{{/if}} --}}
<div class="row">
    {{#if user}}
        {{#ifCond user.type 'customer'}}

            {{#if viewed}}
                <div class="row">
                    <h3 align="center">Some of your viewed items</h3>
                    {{#each viewed}}
                        <div class="col l3">
                            <div class="card">
                                <div class="card-image">
                                    <a href="/items/{{this.itemid}}"><img src="/images/sample.jpg"></a>
                                </div>
                                <div class="card-content">
                                    <p class="card-title">{{this.iname}}<span class="right">{{this.price}}₹</span></p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}

            <br>
            {{#if pending}}
                <div class="row">
                    <h3 align="center">Your pending orders</h3>
                    {{#each pending}}
                        <div class="col l3">
                            <div class="card">
                                <div class="card-image">
                                    <a href="/items/{{this.itemid}}"><img src="/images/sample.jpg"></a>
                                </div>
                                <div class="card-content">
                                    <p class="card-title">{{this.iname}}<span
                                            class="right">ordered qty:{{this.addedqty}}</span></p>
                                    <p>date of order: {{this.orderdate}}</p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}

            <br>
            <h3 align="center">Most viewed all over the world</h3>
            <br>
            <hr>
            <div class="row">
                <h4 align="center">Books</h4>
                {{#each books}}
                    <div class="col l3">
                        <div class="card">
                            <div class="card-image">
                                <a href="/items/{{this.itemid}}"><img src="/images/sample.jpg"></a>
                            </div>
                            <div class="card-content">
                                <p class="card-title">{{this.iname}}<span class="right">₹{{this.price}}</span></p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

            <br>
            <hr>
            <div class="row">
                <h4 align="center">Electronics</h4>
                {{#each electronics}}
                    <div class="col l3">
                        <div class="card">
                            <div class="card-image">
                                <a href="/items/{{this.itemid}}"><img src="/images/sample.jpg"></a>
                            </div>
                            <div class="card-content">
                                <p class="card-title">{{this.iname}}<span class="right">₹{{this.price}}</span></p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <br>
            <hr>
            <div class="row">
                <h4 align="center">Fashion</h4>
                {{#each fashion}}
                    <div class="col l3">
                        <div class="card">
                            <div class="card-image">
                                <a href="/items/{{this.itemid}}"><img src="/images/sample.jpg"></a>
                            </div>
                            <div class="card-content">
                                <p class="card-title">{{this.iname}}<span class="right">₹{{this.price}}</span></p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

            <br>
            <hr>
            <div class="row">
                <h4 align="center">Sports</h4>
                {{#each sports}}
                    <div class="col l3">
                        <div class="card">
                            <div class="card-image">
                                <a href="/items/{{this.itemid}}"><img src="/images/sample.jpg"></a>
                            </div>
                            <div class="card-content">
                                <p class="card-title">{{this.iname}}<span class="right">ordered qty:{{this.price}}
                                    ₹</span></p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}

        {{!-- ............................seller logged in................................................ --}}

            {{#each items}}
                <div class="col l3">
                    <div class="card">
                        <div class="card-image">
                            <a href="/items/{{this.itemid}}"><img src="/images/sample.jpg"></a>
                        </div>
                        <div class="card-content">
                            <p class="card-title">{{this.iname}}<span class="right">{{this.price}}₹</span></p>
                            <label>Description: </label><br>
                            <p style="padding-top: 5px">{{this.description}}</p>
                            <p style="padding-top: 5px"><label>Shipping Cost: </label><span class="right"
                                                                                            style="padding-top: 5px">{{this.shipcost}}
                                ₹</span></p>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/ifCond}}
    {{else}}

    {{!-- ..................not logged in.......................................................... --}}
        <br>
        <hr>
        <div class="row">
            <h4 align="center">Books</h4>
            {{#each books}}
                <div class="col l3">
                    <div class="card">
                        <div class="card-image">
                            <a href="/items/{{this.itemid}}"><img src="/images/sample.jpg"></a>
                        </div>
                        <div class="card-content">
                            <p class="card-title">{{this.iname}}<span class="right">₹{{this.price}}</span></p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <br>
        <hr>
        <div class="row">
            <h4 align="center">Electronics</h4>
            {{#each electronics}}
                <div class="col l3">
                    <div class="card">
                        <div class="card-image">
                            <a href="/items/{{this.itemid}}"><img src="/images/sample.jpg"></a>
                        </div>
                        <div class="card-content">
                            <p class="card-title">{{this.iname}}<span class="right">₹{{this.price}}</span></p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <br>
        <hr>
        <div class="row">
            <h4 align="center">Fashion</h4>
            {{#each fashion}}
                <div class="col l3">
                    <div class="card">
                        <div class="card-image">
                            <a href="/items/{{this.itemid}}"><img src="/images/sample.jpg"></a>
                        </div>
                        <div class="card-content">
                            <p class="card-title">{{this.iname}}<span class="right">₹{{this.price}}</span></p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <br>
        <hr>
        <div class="row">
            <h4 align="center">Sports</h4>
            {{#each sports}}
                <div class="col l3">
                    <div class="card">
                        <div class="card-image">
                            <a href="/items/{{this.itemid}}"><img src="/images/sample.jpg"></a>
                        </div>
                        <div class="card-content">
                            <p class="card-title">{{this.iname}}<span class="right">₹{{this.price}}</span></p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

    {{/if}}
</div>

<script>
    var categories = "books|electronics|fashion|sports";

    categories = categories.split('|');

    var option = '';
    for (var f = 0; f < categories.length; f++) {
        option += '<option value="' + categories[f] + '">' + categories[f] + '</option>';
    }
    $('#categories').append(option);
</script>