<a href="/signup/customer">Signup Customer</a>
<br>
<a href="/signup/seller">Signup seller</a>
<br>
<a href="/signin">signin</a>
</div>
<h5>{{err}}</h5>
<h1>These are the list of latest items</h1>
{{#each items}}
<h6>name : {{this.iname}}</h6>
<h6>itemid : {{this.itemid}}</h6>
<h6>price : {{this.price}}</h6>
<h6>description : {{this.description}}</h6>
<h6>shipping cost : {{this.shipcost}}</h6>
<h6>seller email id :{{this.sellerid}}</h6>
<h6>quantity : {{this.iquantity}}</h6>
<br>
<br>
{{/each}}