<a href="/signup/customer">Signup Customer</a>
<br>
<a href="/signup/seller">Signup seller</a>
<br>
<a href="/signin">signin</a>
</div>

<h1>These are the list of latest items</h1>
{{!-- {{#each items}}
<h1>{{this.iname}}</h1>
<h2>{{this.itemid}}</h2>
<h3>{{this.price}}</h3>
<h4>{{this.description}}</h4>
<h5>{{this.shipcost}}</h5>
<h6>{{this.sellerid}}</h6>
<h6>{{this.iquantity}}</h6>
<br>
{{/each}} --}}