<div class="container">
    <h2 class="center-align">New Seller SignUP</h2>
    {{{err}}}
    <form action="/signup/seller" method="post" autocomplete="off">

        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="sname" id="sname" value="{{result.sname}}" required/>
                <label for="sname">Name</label>
            </div>
            <div class="input-field col s6">
                <input type="date" name="dob" id="dob" value="{{result.dob}}" required/>
                <label for="dob">Date of Birth</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="email" id="email" autocomplete="off" value="{{result.email}}" required/>
                <label for="email">Email Id</label>
                <div class="emailerr" style="color:#c62828; font-size:12px; position: relative;">invalid email</div>
            </div>
            <div class="input-field col s6">
                <input type="password" name="password" id="password" value="{{result.password}}" required/>
                <label for="password">password</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="phone[0]" id="phone0" value="{{result.phone.[0]}}" required/>
                <label>Phone Numbers</label>
                <div class="phonerr1" style="color:#c62828; font-size:12px; position: relative;">invalid phone number</div>
                <!--<p id="addphone">add another number</p>-->
            </div>
            <div class="input-field col s6">
                <input type="text" name="phone[1]" id="phone1" value="{{result.phone.[1]}}"/>
                <label>Alternate Phone Number</label>
                <div class="phonerr2" style="color:#c62828; font-size:12px; position: relative;">invalid phone number</div>
            </div>
        </div>

        <h5 class="center-align">Address</h5>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" name='address' id="address" value="{{result.address}}" required/>
                <label for="addressSeller">Address</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 center-align">
                <button type="submit" class="btn-large" id="submit">Submit</button>
            </div>
        </div>

    </form>
</div>

<script>
     $('.phonerr1').hide();
    $('.phonerr2').hide();
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    
    //.....................................email......................................................
    var email = $("#email").val();
        console.log(email);
        if (re.test(email)) {
            //vaild
            $("#submit").prop("disabled", false);
            //$("#email").css("borderBottom","1px solid #689f38");
            //$('label.email').css("color","#689f38");
            $('.emailerr').css("display","none");
        }
        else {
            console.log('not valid email');
            $("#submit").attr("disabled", "disabled");
            //$("#email").css("borderBottom","1px solid #c62828");
            //$('label.email').css("color","#c62828");
            $('.emailerr').css("display","block");
        }
    $("#email").change(() => {
        var email = $("#email").val();
        console.log(email);
        if (re.test(email)) {
            //vaild
            $("#submit").prop("disabled", false);
            //$("#email").css("borderBottom","1px solid #689f38");
            //$('label.email').css("color","#689f38");
            $('.emailerr').css("display","none");
        }
        else {
            console.log('not valid email');
            $("#submit").attr("disabled", "disabled");
            //$("#email").css("borderBottom","1px solid #c62828");
            //$('label.email').css("color","#c62828");
            $('.emailerr').css("display","block");
        }
        //var v1 = $("#phone0").val();
        //if (v1 == '') {
        //    $("#submit").attr("disabled", "disabled");
        //    //$('.phonerr1').css("display","block");
        //}
    });
    var phonere = /^[789]\d{9}$/;
    $('#phone0').change(function (req, res) {
        var phone = $("#phone0").val();
        console.log(phone);
        if (phonere.test(phone)) {
            //vaild
            $("#submit").prop("disabled", false);
            //$("#phone0").css("borderBottom","1px solid #689f38");
            //$('label.phone0').css("color","#689f38");
            $('.phonerr1').css("display","none");
        }
        else {
            console.log('not valid phone');
            $("#submit").attr("disabled", "disabled");
            //$("#phone0").css("borderBottom","1px solid #c62828");
            //$('label.phone0').css("color","#c62828");
            $('.phonerr1').css("display","block");
        }
    });

    $('#phone1').change(function (req, res) {
        var phone = $("#phone1").val();
        console.log(phone);
        if (phonere.test(phone)) {
            //vaild
            $("#submit").prop("disabled", false);
            $('.phonerr2').css("display","none");
        }
        else {
            console.log('not valid email');
            $("#submit").attr("disabled", "disabled");
            $('.phonerr2').css("display","block");
        }
        if (phone == '') {
            var email = $("#email").val();
            $('.phonerr2').css("display","none");
            console.log(email);
            if (re.test(email)) {
                //vaild
                $("#submit").prop("disabled", false);

                if (phonere.test(phone)) {
                    //vaild
                    $("#submit").prop("disabled", false);
                }
            
            }
            else {
                $("#submit").attr("disabled", "disabled");
            }
        }
    });
</script>